<!DOCTYPE html>
<html>
<head>
	<title>Cats</title>
	<meta charset="UTF-08">
</head>
<body>
	<h1>About Cats</h1>
	<img src="static/cat.jpg" alt="cute cats" width="300px">
	<p>The cat (Felis catus), also called domestic cat and house cat, is a small domesticated carnivorous mammal. It is a member of Felidae, the family of mammals in the order Carnivora also colloquially referred to as cats. It is an obligate carnivore, requiring a predominantly meat-based diet. Its retractable claws are adapted to killing small prey species such as mice and rats. It has a strong, flexible body, quick reflexes, and sharp teeth, and its night vision and sense of smell are well developed. It is a social species, but a solitary hunter and a crepuscular predator.</p>
	<a href="/">Return to Main page</a>
</body>
</html>
