<!DOCTYPE html>
<html>
<head>
	<title>Chickens</title>
	<meta charset="UTF-08">
		<link rel="stylesheet" href="static/style.css">
</head>
<body>
	<h1>About Chickens</h1>
	<img src="static/chicken.jpeg" alt="cute chicken" width="300px">
	<p>The chicken is the domesticated form of the red junglefowl, originally native to Southeast Asia. It was first domesticated around 8,000 years ago and is one of the most common and widespread domesticated animals in the world. Chickens are primarily kept for their meat and eggs, though they are also kept as pets.</p>
	<a href="/">Return to Main page</a>
</body>
</html>