<!DOCTYPE html>
<html>
<head>
	<title>Pandas</title>
	<meta charset="UTF-08">
	<link rel="stylesheet" href="static/style.css">
</head>
<body>
	<h1>About Pandas</h1>
	<img src="static/pandas.jpg" alt="cute pandas" width="300px">
	<p>The giant panda, also known as the panda bear or simply panda, is a bear species endemic to China. It is characterised by its white coat with black patches around the eyes, ears, legs and shoulders. Its body is rotund; adult individuals weigh 100 to 115 kg and are typically 1.2 to 1.9 m long.</p>
	<a href="/">Return to Main page</a>
</body>
</html>